* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  font-family: consolas;
  bottom: -80px;
  letter-spacing: 0.2rem;
}
.container .ring {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -30px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #24ecff;
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
}
@-webkit-keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container .ring::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #24ecff;
  box-shadow: 0px 0px 5px 5px #24ecff44, 0px 0px 10px 10px #24ecff33,
    0px 0px 15px 20px #24ecff22, 0px 0px 20px 20px #24ecff11;
}
.container .ring:nth-child(2) {
  -webkit-animation: animate2 4s linear infinite;
  animation: animate2 4s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  border-top: 4px solid #93ff2d;
}
.container .ring:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #93ff2d;
  box-shadow: 0px 0px 5px 5px #93ff2d44, 0px 0px 10px 10px #93ff2d33,
    0px 0px 15px 20px #93ff2d22, 0px 0px 20px 20px #93ff2d11;
}
@-webkit-keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.container .ring:nth-child(3) {
  -webkit-animation: animate2 4s linear infinite;
  animation: animate2 4s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  position: absolute;
  top: -66.66px;
  border-top: 4px solid transparent;
  border-right: 4px solid #e41cf8;
}
.container .ring:nth-child(3)::before {
  content: '';
  position: absolute;
  bottom: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #e41cf8;
  box-shadow: 0px 0px 5px 5px #e41cf844, 0px 0px 10px 10px #e41cf833,
    0px 0px 15px 20px #e41cf822, 0px 0px 20px 20px #e41cf811;
}
